body {
	background: black;
	color: #00ff00;
}
header {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	margin: 0px;
	height: 2cm;
	padding-left: 2.5mm;
	padding-right: 2.5mm;
	border-bottom: thin double #33ff33;
	text-align: center;
}
#logo {
	position: fixed;
	top: 1mm;
	right: 5mm;
	height: 18mm;
}
#energie {
	position: fixed;
	bottom: 2.5mm;
	left: 2.5mm;
	right: 2.5mm;
	top: 2.25cm;
	overflow: hidden;
	background: #521;
	z-index: 7000;
}
