/******************************************************
 * author: Mr. Pi <mrpi@mr-pi.de>
 * copyright: 2013 Mr. Pi
 *-----------------------------------------------------
 * 
 *****************************************************/

body {
	background: black;
	color: #00ff00;
}
header {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	margin: 0px;
	height: 2cm;
	padding-left: 2.5mm;
	padding-right: 2.5mm;
	border-bottom: thin double #33ff33;
	text-align: center;
}
#shackLogo {
	position: absolute;
	top: 1mm;
	right: 5mm;
	height: 16mm;
	border: 1mm outset rgb(30,30,0);
}
#shackLogo:active {
	border: 1mm inset rgb(30,30,0);
}
#powermon, #lightcontrol {
	position: absolute;
	bottom: 2.5mm;
	left: 2.5mm;
	right: 2.5mm;
	top: 2.25cm;
	overflow: hidden;
	background: #000;
	z-index: 10;
	transition: opacity 500ms;
}
#lightcontrol {
	text-align: center;
}
#lightcontrol svg {
	border: 1mm #fff solid;
	border-radius: 1mm;
}
#powermon {
	background: #123;
}
nav {
	position: absolute;
	top: 1mm;
	left:: 5mm;
	height: 18mm;
	z-index: 10;
	margin: 0px;
	padding: 0px;
}
nav a {
	display: block;
	margin-top: 0.5mm;
	margin-bottom: 0.5mm;
	padding: 0px;
	padding-left: 1mm;
	padding-right: 1mm;
	font-size: 5mm;
	height: 6.5mm;
	border: 1mm outset rgb(130,130,0);
	border-radius: 1mm;
	background: rgb(110,110,0);
	color: #00ff00;
	text-decoration: none;
}
nav a:visited {
	color: #00ff00;
	text-decoration: none;
}
nav a:active {
	border: 1mm inset rgb(130,130,0);
}
nav select {
	background: rgba(0,0,0,0);
	color: #00ff00;
	border: none;
	font-size: 5mm;
	font-style: italic;
}
